@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
  }
}

:root {
  /* Colors */
  --cname-persian-orange: #d5966c;
  --cname-night: #151515;
  --cname-onyx: #444444;
  --cname-white: #ffffff;

  /* Typography */
  --root-font-size: 16;
  /* --font-heading: "Big Shoulders Display", cursive; */
  --heading-xl-size: clamp(3.75rem, 2.958rem + 3.38vw, 6rem);
  --heading-xl-line-spacing: 0.91667;
  --heading-m-size: clamp(3.125rem, 2.905rem + 0.939vw, 3.75rem);
  --heading-m-line-spacing: 1;
  --button-text-size: calc((20 / var(--root-font-size)) * 1rem);
  --button-letter-spacing: 3.636px;

  /* --font-body: "Outfit", sans-serif; */
  --body-m-size: clamp(1.125rem, 1.037rem + 0.376vw, 1.375rem);
  --body-m-line-spacing: 1.45;
  --body-s-size: calc((18 / var(--root-font-size)) * 1rem);
  --body-s-line-spacing: calc(28 / 18);
}

/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  background-color: var(--cname-white);
  font-family: var(--font-body);
  font-size: var(--body-s-size);
  line-height: var(--body-s-line-spacing);
} */

/* Typography */
/* h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: var(--heading-xl-size);
  line-height: var(--heading-xl-line-spacing);
}

h2 {
  font-size: var(--heading-m-size);
  line-height: var(--heading-m-line-spacing);
} */

/* p {
  margin: 0;
  font-size: var(--body-m-size);
  line-height: var(--body-m-line-spacing);
  font-weight: 300;
  color: var(--cname-onyx);
} */

/* Components */
/* .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--cname-white);
  transition: 300ms ease-in-out;
  width: 260px;
  height: 72px;

  &.left {
    flex-direction: row-reverse;
  }

  .button-text,
  .button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: calc((72 / var(--root-font-size)) * 1rem);
    transition: 300ms ease-in-out;
  }

  .button-text {
    width: 78%;
    padding-inline-end: 20px;
    background-color: var(--cname-night);
    font-family: var(--font-heading);
    font-size: var(--button-text-size);
    font-weight: 800;
    letter-spacing: var(--button-letter-spacing);
    text-transform: uppercase;
  }

  .button-icon {
    background-color: var(--cname-persian-orange);
  }

  &:hover {
    translate: 3px 0;

    .button-text {
      background-color: var(--cname-persian-orange);
    }
    .button-icon {
      background-color: var(--cname-night);
    }
    &.left {
      translate: -5px 0;
    }
  }
}

.hero {
  .content {
    display: grid;
    gap: 2em;
    padding-inline: 1em;
    padding-block: 2em;
  }
}

.welcome {
  margin-top: 4em;

  .gap {
    display: grid;
    gap: 1em;
  }

  .text-content {
    display: grid;
    gap: 2em;
    padding-inline: 1em;
    padding-block: 2em;
  }
}

.footer {
  display: grid;
  gap: 38px;
  background-color: var(--cname-night);
  padding: 32px;

  & img {
    width: 110px;
  }

  & p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--cname-white);
  }
}

.socials {
  display: flex;
  gap: 20px;

  & img {
    width: 20px;
    transition: 0.3s;

    &:hover {
      scale: 1.2;
      translate: 0 -2px;
    }
  }
} */

/* Utilities */
/* .no-wrap {
  white-space: nowrap;
} */
